@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-color: #cedbe5;
  --body-color: #020912;
  --highlight-blue: #6aa7f9;
  --highlight-btn: #7bb3fc;
  --blue-lighter: #385471;
  --blue-neutral: #1b2940;
  --red: #ec3010;
  --orange: #f79726;
  --green: #19b813;
  --purple: #5221a6;
  --brown: #6d1c19;
  --yellow: #847b0a;
  --base-color: #051528;
  --gray: #373737;

  --base-shadow: 0px 0px 2px 1px var(--blue-lighter);
}

body {
  color: #cedbe5;
  background: #020912;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
